@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Sankofa+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+Oriya:wght@400..700&family=Sixtyfour+Convergence&display=swap');

.Active {
    background-color:#0E7A811A;
    border-radius: 30px ;
font-weight: 400;
border: 1.5px solid rgb(14, 122, 129);


}

#seconds{
    color: orchid;
    font-family: "Sankofa Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bolder;

}




